<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>수정페이지</title>
</head>

<body class="bg-gray-900 flex justify-center items-center h-screen ">
  <div class="container text-center font-bold" style="width: 600px;">
    <div
      class="code-preview rounded-xl bg-gradient-to-r bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 p-2 sm:p-6 dark:bg-gray-800">
      <form>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-2xl font-medium text-gray-900 dark:text-gray-300">제목</label>
          <input type="email" id="email" value="<%= Title %> "
            class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="mb-6">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">내용</label>
          <textarea id="message" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= desc %>
          </textarea>
        </div>
        <button onclick="Edit()" type="button"
          class="text-white bg-gradient-to-r from-blue-400 via-blue-600 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          수정
        </button>

        <button id="delete" type="button"
          class="text-white bg-gradient-to-r from-red-400 via-red-600 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-ted-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          삭제
        </button>



      </form>
    </div>
  </div>
  <script src="/edit.js"></script>
  <!-- <script>

    const DeletePost = () => {

    }

    const Edit = () => {
      alert("수정")
    }

  </script> -->

</body>

</html>