<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

</head>

<body class="bg-gray-900 flex justify-center items-center h-screen ">
  <div class="container text-center font-bold" style="width: 600px;">
    <form action="/auth/login" method="POST">

      <div class="mb-6">
        <label for="email" class="mb-6 text-2xl sblock mb-6  font-bold text-gray-900 dark:text-gray-300">ID</label>
        <input type="text" id="ID"
          class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value="Egoing123" name="id" required />
      </div>

      <div class="mb-6">
        <label for="password" class="text-2xl block mb-6 font-medium text-gray-900 dark:text-gray-300">Password</labels>
          <input type="text" id="PWD"
            class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            name="pwd" value="12345" required />
      </div>

      <div class="mb-5">
        <button type="submit"
          class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          Submit
        </button>
      </div>

      <div>
        <button onclick="ChangeUser()" type="button"
          class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          First1로 로그인
        </button>
      </div>
    </form>
  </div>

</body>
<script>
  const ChangeUser = () => {
    // ID: "First1",
    // pwd: "pwd",
    document.querySelector("#ID").value = "First1";
    document.querySelector("#PWD").value = "pwd";
  };
</script>

</html>