<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link rel="stylesheet" href="./style.css" /> -->
  <title>Document</title>
</head>

<body class="text-center bg-gray-900 flex justify-center items-center h-screen flex-col">
  <h1 class="text-amber-500 font-bold text-5xl mb-4 ">
    <%= name %>
  </h1>
  <div class="m-4">
    <button onclick="location.href = '/auth/logout'" type="button"
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
      로그아웃
    </button>

    <button onclick="location.href = '/auth/logout'" type="button"
      class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
      글쓰기
    </button>
  </div>

  <!-- 테이블 -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">>
    <%-include('home.table.ejs') %>
  </div>
</body>

</html>